<footer role="contentinfo">
  {{ .Site.Copyright | safeHTML }}
  —
  {{ with .Site.Params.contentLicense }}
  Content: <a href="{{ .url }}" target="_blank">{{ .text }}</a>,
  {{ end }}
  {{ with .Site.Params.codeLicense }}
  Code: <a href="{{ .url }}" target="_blank">{{ .text }}</a>, unless otherwise noted.
  {{ end }}

  <p>
    View the
    {{ with .Site.Params.repository }}
    <a href="{{ .url }}" target="_blank">source</a>
    {{ end }}
    for this site.
    <a href="{{ref . "privacy"}}">Privacy</a>.
  </p>
</footer>
